.link{
    z-index: 99;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    &-light{
        background-color: rgba(0, 0, 0, 0.1) !important;
        &:hover{
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2) !important;
        }
    }
    padding: 10px;
    border-radius: 10px;
    min-height: 5rem;
    &:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }
    &-content{
        //width: 80%;
        display: flex;
        align-items: center;
        
    }
    &-more{
        z-index: 100;
        display: flex;
        justify-content: end;
        &-url{
            display: flex;
            align-items: center;
            &-text{
                color: #fff;
            }
            &-title{
                display: flex;
            align-items: center;
            padding-right: 5px;
            }
            &-icon{
                display: flex;
            align-items: center;
            padding-right: 5px;
            }
        }
    }
    &-title{
        &-text{
            width: 11rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &-subtitle{
        &-text{
            width: 15rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &-icon{
        margin:0 7px 0 5px;
        max-width: 50px;
        max-height: 50px;
        &-style{
            max-width: 50px;
            max-height: 50px;
        }
    }
}